#panel{
  border: 1px solid black;
  display: none;
  margin: 20px;
}

 #time-slider, #size-slider{
  border: 2px solid black;
  margin-left: 100px;
  margin-right: 100px;
  margin: 10px;
}

/*.ui-slider*/
.size-slider-row{
  display: inline-block;
  /*float: left;*/
}

body{
  background-color: grey;
}

#board{
  /*background-color: white;*/
  /*width: 1px;
  height: 1px;*/
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 100px;
  font-size: 0px;
  /*display: none*/
}

#live-cell-count{

}

.cell {
  float: left;
  border: 1px solid black;
}

.row {
   display: inline-block;
   margin: 0px
}

.button{
  margin-left: 20px
}
