#slider{
  /*top: 600px;*/
  /*background-color: blue*/
  border: 2px solid black;
  margin-left: 100px;
  margin-right: 100px;
  display: none;
}
body{
  background-color: grey;
}

#board{
  /*background-color: white;*/
  /*width: 1px;
  height: 1px;*/
  margin: 50px;
  margin-left: 100px;
  font-size: 0px;
  display: none
}

.cell {
  float: left;
  border: 1px solid black;
}

.row {

   display: inline-block;
   margin: 0px
}
