#panel{
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background-color: darkgrey;
  border-radius: 20px;
  /*color: lightblue*/
  opacity: 0;
}

 #time-slider, #size-slider{
  /*border: 2px solid black;*/
  margin-left: 100px;
  margin-right: 100px;
  margin: 10px;
}

/*.ui-slider*/
.size-slider-row, .time-slider-row, #cell-count-label, #live-cell-count{
  display: inline-block;
  /*float: left;*/
}

body{
  background-color: grey;
  font-family: 'Exo', sans-serif;
  /*opacity: 0.2*/
}

#board{
  /*background-color: white;*/
  /*width: 1px;
  height: 1px;*/
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 100px;
  font-size: 0px;
  /*width: 75%;*/
  display: inline-block;
  z-index: 200
}

#live-cell-count{

}

.cell {
  float: left;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.row {
   display: inline-block;
   margin: 0px
}

.button, #cell-count-container{
  margin-left: 10px
}

.readout{
  background-color: grey;
  padding: 4px;
  border: 2px solid black;
  border-radius: 3px
}

#buttons{
  margin-top: 10px;
  margin-bottom: 10px;

}

#live-cell-count{
  width: 35px;
}

.time-readout{
  width: 35px
}
.button{
  background-color: white;
  font-family: 'Exo', sans-serif;
}

@media (max-width: 1000px) {
  .button, .label, .readout{
    display: block !important;
  }
}

#info-toggler{
  position: absolute;
  /*float right;*/
  top: 3%;
  right: 3%;
  margin: 20px;
  margin-right: 30px;
  font-size: 50px;
  font-weight: bold;
  /*background-color: blue;*/
  z-index: 100;
  display: none
}
#info{
  position: absolute;
  width: 60%;
  height: 60%;
  top: 100px;
  right: 10px;
  margin: 10px;
  margin-right: 30px;
  font-size: 15px;
  font-weight: bold;
  opacity: 0;
  z-index: -1
}

#info-toggler:hover ~ .all-except-info{
  opacity: 0.05 !important;
  -webkit-transition: opacity 200ms ease-out

}

#info-toggler:hover ~ #info{
  opacity: 1;
  -webkit-transition: opacity 200ms ease-out

}

#menu{
  margin: 10px
  width: 20px;
}

.size-readout{
  width: 70px

}
